<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="notification-part">
            <div id="notify">
            </div>
        </div>
    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function RefreshAnnouncement() {
            const currentDate = new Date();
            $.ajax({
                url: '/Student/Render_Announcement/',
                method: 'GET',
                success: function (data) {
                    if (data != "None") {
                        document.getElementById('notify').innerHTML = '';
                        var jsonObject = JSON.parse(data);
                        jsonObject.forEach(element => {
                            scheduledTime = new Date(element.fields.scheduled_upto)
                            if (scheduledTime > currentDate) {
                                document.getElementById('notify').innerHTML += `
                                    <div>
                                        <p>${element.fields.message}</p>
                                    </div>
                                `
                            }
                        });
                    } else {
                        console.log('ite none')
                    }
                },
            });
        }

        RefreshAnnouncement();
        setInterval(RefreshAnnouncement, 60000);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>