{% extends "Teacher/base.html" %}
{% load static %}

{% block header %}
<div class="nav_bar bg-primary d-flex justify-content-between pe-4">
    <div class="ps-4">
        <h2 class="text-light mt-1">SENT NOTIFICATION</h2>
    </div>
    <div class="">
        <a href="{% url 'TrHome' %}" class="text-light fs-3 me-3 mt-1"><i class="bi bi-house-door-fill"></i></a>
        <a href="{% url 'notificationList' %}" class="text-light fs-4 me-2 mt-1"><i class="bi bi-bell"></i></a>
    </div>
</div>
{% endblock header %}

{% block content %}
<section>
    <div class="container">
        <div class="notification_form_wrapper">
            <div class="notification_form_field p-4">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="recipient">Recipient</label>
                    {{ form.recipient }}
                    <br>
            
                    <label for="message" style="vertical-align: top;">Message</label>
                    <textarea name="message" id="message" cols="30" rows="4"></textarea>
                    <br>
            
                    <label for="time">Schedule Time</label>
                    <input type="datetime-local" name="scheduled_time"><br>
            
                    <input type="submit" value="submit" class="bg-success text-light py-1">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scriptContent %}
{% endblock scriptContent %}