{% extends "Admin/base.html" %}
{% load static %}

{% block head %}
<style>
    table, th, td, tr{
        border: 2px solid black;
    }

    tr:nth-child(odd) {
      background-color: #D6EEEE;
    }

</style>
{% endblock head %}

{% block header %}
<div class="nav_bar bg-primary d-flex justify-content-between pe-4">
    <div class="ps-4">
        <h2 class="text-light mt-1">COURSE COMPLETION LIST</h2>
    </div>
    <div class="">
        <a href="{% url 'home' %}" class="text-light fs-3 me-3 mt-1"><i class="bi bi-house-door-fill"></i></a>
    </div>
</div>
{% endblock header %}

{% block content %}
<section>
    <div class="container pt-3">
        <div class="student_list_table pt-5">
            <table id="std_table" class="w-100 text-center table">
                <tr style="background-color: rgb(154, 154, 154);">
                    <th style="width: 15%;">Register Number</th>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 20%;">Email</th>
                    <th style="width: 10%;">Course</th>
                    <th style="width: 15%;">Batch Start</th>
                    <th style="width: 15%;">Batch End</th>
                    <th style="width: 5%;">Download</th>
                </tr>
                {% for i in std %}
                <tr>
                    <td>{{ i.reg_no }}</td>
                    <td><a href="{% url 'certificate' i.id %}">{{ i.name }}</a></td>
                    <td>{{ i.user.email }}</td>
                    <td>{{ i.course }}</td>
                    <td>{{ i.batch_start }}</td>
                    <td>{{ i.batch_end }}</td>
                    <td><a href="{% url 'generate_pdf' i.id %}" class="text-dark"><i
                                class="bi bi-file-earmark-arrow-down"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock content %}

{% block scriptContent %}
{% endblock scriptContent %}