{% extends "Admin/base.html" %}
{% load static %}


{% block header %}
<div class="nav_bar bg-primary d-flex justify-content-between pe-4">
    <div class="ps-4">
        <h2 class="text-light mt-1">CREATE ROOM</h2>
    </div>
    <div class="">
        <a href="{% url 'home' %}" class="text-light fs-3 me-3 mt-1"><i class="bi bi-house-door-fill"></i></a>
        <a href="{% url 'chatRooms' %}" class="text-light fs-6 mt-1">Rooms</a>
    </div>
</div>
{% endblock header %}


{% block content %}
<section>
    <div class="container">
        <div class="room_form_wrapper">
            <div class="room_form_field">
                <div class="room_form p-5">
                    <form action="." method="post">
                        {% csrf_token %}
                        <label for="room">Room Name</label>
                        {{ form.room }} <br>

                        <label for="course">Course</label>
                        {{ form.course }} <br>

                        <input type="submit" value="submit" class="bg-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% if messages %}
{% for i in messages %}
<div class="message_div">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{ i }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}


{% block scriptContent %}
{% endblock scriptContent %}
